{{define "footer" -}}
                {{if or .PrevPage .NextPage -}}
                <div class="pages-nav">
                    {{if .PrevPage -}}
                        <a rel="prev" href="{{.PrevPage.URL}}" aria-label="前一篇文章">
                            &#171;&#160;{{.PrevPage.Text}}
                        </a>
                    {{- end}}
                    {{if .NextPage -}}
                        <a rel="next" href="{{.NextPage.URL}}" aria-label="后一篇文章">
                            {{.NextPage.Text}}&#160;&#187;
                        </a>
                    {{- end}}
                </div>
                {{- end}}

            </div> <!-- end .container -->
        </main> <!-- end #content -->

        <footer id="footer">
            <div class="container">
                <div>
                    <span>&copy; 2016 - 2017 by
                        <a href="{{.URL}}" itemprop="url" type="text/html">caixw</a>
                    </span>
                    <span aria-hidden="true">&#8901;</span>
                    Powered by <a href="https://github.com/caixw/typing" type="text/html">typing</a>
                </div>

                <div>
                    <a href="https://aliyun.com" type="text/html">阿里云</a> 9 折优惠码：O2BCSO
                </div>

                <div id="sidebar-nav">
                    <a id="top" href="#">
                        <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
                        <span class="text">返回顶部</span></a>

                    <span class="separator" aria-hidden="true">&#8901;</span>

                    <a type="text/html" href="https://github.com/caixw/blogs/issues/new?title={{.Canonical}}&amp;">
                        <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                        <span class="text">纠正错误</span>
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>
{{end}}
