@charset "utf-8";

:root {
    --background: #fff;

    --appbar-background: #3f51b5;
    --appbar-foreground: #ebeaf6;
    --appbar-link-foreground: #bbb;

    --post-background: #ebeaf6;
    --post-foreground: #212121;
    --post-foreground-link: #000;
    --post-foreground-meta: #757575;

    --divider-foreground: #f5f5f5;

    --placeholder-foreground: #bdbdbd;
}
