@charset "utf-8";

:root {
    --background: #fff;

    --appbar-background: #3f51b5;
    --appbar-foreground: #ebeaf6;

    --post-background: #ebeaf6;
    --post-foreground: #212121;
    --post-foreground-meta: #757575;

    --top-foreground: #448aff;

    --divider-foreground: #f5f5f5;

    --placeholder-foreground: #bdbdbd;
}

footer {
    --link-foreground: #ff80ab;
}