{{define "post" -}}
{{template "header" .}}

<article class="post" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <header>
        <h1 class="title" itemprop="name headline">{{.Post.Title}}</h1>
        <div class="meta">
            <span class="item" aria-label="发布时间">
                <i title="发布时间" class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                <time itemprop="datePublished dateCreated" datetime="{{.Post.Created|rfc3339}}">{{.Post.Created|ldate}}</time>
            </span>

            <span class="item" aria-label="修改时间">
                <i title="修改时间" class="fa fa-calendar-check-o" aria-hidden="true"></i>
                <time itemprop="dateModified" datetime="{{.Post.Modified|rfc3339}}">{{.Post.Modified|ldate}}</time>
            </span>

            <span class="item" aria-label="关联标签">
                <i title="关联标签" class="fa fa-tags" aria-hidden="true"></i>
                {{range .Post.Tags -}}
                <a href="{{.Permalink}}" rel="tag" type="text/html"><span itemprop="keywords">{{.Title}}</span></a>
                {{- end}}
            </span>

            <span class="item" itemprop="author" itemscope itemtype="https://schema.org/Person" aria-label="作者">
                <i title="作者" class="fa fa-user" aria-hidden="true"></i>
                <span itemprop="name">{{.Post.Author.Name}}</span>
            </span>
        </div>
    </header>
    {{.Post.Content|html}}
    <footer>
        {{if .Post.Outdated}}<p>{{.Post.Outdated}}</p>{{end}}
        <p>本文采用<a{{if .Post.License.Rel}} rel="{{.Post.License.Rel}}"{{end}}{{if .Post.License.Title}} title="{{.Post.License.Title}}"{{end}} href="{{.Post.License.URL}}">{{.Post.License.Text}}</a>创作共享协议。</p>

        <p>
            分享:
            <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{.Info.URL}}{{.Post.Permalink}}&amp;title={{.Post.Title}}">QQ空间</a>
            <a href="http://v.t.qq.com/share/share.php?url={{.Info.URL}}{{.Post.Permalink}}&amp;title={{.Post.Title}}">腾讯微博</a>
            <a href="http://service.weibo.com/share/share.php?url={{.Info.URL}}{{.Post.Permalink}}">新浪微博</a>
            <a href="http://share.renren.com/share/buttonshare.do?link={{.Info.URL}}{{.Post.Permalink}}&amp;title={{.Post.Title}}">人人网</a>
            <a href="http://www.kaixin001.com/repaste/share.php?rurl={{.Info.URL}}{{.Post.Permalink}}&amp;rtitle={{.Post.Title}}">开心网</a>
            <a href="http://shuo.douban.com/!service/share?href={{.Info.URL}}{{.Post.Permalink}}&amp;name={{.Post.Title}}">豆瓣</a>
            <a href="http://cang.baidu.com/do/add?iu={{.Info.URL}}{{.Post.Permalink}}&amp;titleit={{.Post.Title}}">百度收藏</a>
            <a href="http://tieba.baidu.com/f/commit/share/openShareApi?url={{.Info.URL}}{{.Post.Permalink}}&amp;title={{.Post.Title}}">贴吧</a>
        </p>
    </footer>
</article>

{{template "footer" .}}
{{- end}}
