{{define "post-list" -}}
<div class="posts">
    {{- range .Posts}}
    <article class="post">
        <header>
            <h2 class="title">
                <a href="{{.Permalink}}" type="text/html">{{.Title}}</a>
            </h2>
            <div class="meta">
                <span class="item" aria-label="发布时间">
                    <i title="发布时间" class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                    <time datetime="{{.Created|rfc3339}}">{{.Created|sdate}}</time>
                </span>

                <span class="item" aria-label="修改时间">
                    <i title="修改时间" class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    <time datetime="{{.Modified|rfc3339}}">{{.Modified|sdate}}</time>
                </span>

                <span class="item" aria-label="关联标签">
                    <i title="关联标签" class="fa fa-tags" aria-hidden="true"></i>
                    {{range .Tags -}}
                    <a href="{{.Permalink}}" rel="tag" type="text/html">{{.Title}}</a>
                    {{- end}}
                </span>

                <span class="item" aria-label="作者">
                    <i title="作者" class="fa fa-user" aria-hidden="true"></i>
                    {{.Author.Name}}
                </span>
            </div>
        </header>
        {{.Summary|html}}
        <p><a href="{{.Permalink}}" type="text/html" aria-label="阅读全文">继续阅读&#160;&#187;</a></p>
    </article>
    {{- end}}
</div>
{{- end}}
