{{define "post" -}}
{{template "header" .}}

<article class="post" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <header>
        <h1 class="title" itemprop="name headline">{{.Post.Title}}</h1>
        <div class="meta">
            <span class="item" aria-label="发布时间">
                <i title="发布时间" class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                <time itemprop="datePublished dateCreated" datetime="{{.Post.Created|rfc3339}}">{{.Post.Created|ldate}}</time>
            </span>

            <span class="item" aria-label="修改时间">
                <i title="修改时间" class="fa fa-calendar-check-o" aria-hidden="true"></i>
                <time itemprop="dateModified" datetime="{{.Post.Modified|rfc3339}}">{{.Post.Modified|ldate}}</time>
            </span>

            <span class="item" aria-label="关联标签">
                <i title="关联标签" class="fa fa-tags" aria-hidden="true"></i>
                {{range .Post.Tags -}}
                <a href="{{.Permalink}}" rel="tag" type="text/html"><span itemprop="keywords">{{.Title}}</span></a>
                {{- end}}
            </span>

            <span class="item" itemprop="author" itemscope itemtype="https://schema.org/Person" aria-label="作者">
                <i title="作者" class="fa fa-user" aria-hidden="true"></i>
                <span itemprop="name">{{.Post.Author.Name}}</span>
            </span>
        </div>
    </header>
    {{.Post.Content|html}}
    <footer>
        {{with .Post.Outdated}}
          {{if .Content}}
          <p>{{.Content}}</p>
          {{- else if .Days}}
            {{- if eq .Type "created" -}}
            <p>文章创建于 <time date="{{.Date|rfc3339}}">{{.Days}} 天之前</time>，内容可能已经不准确，请谨慎对待！</p>
            {{- else if eq .Type "modified" -}}
            <p>文章更新于 <time date="{{.Date|rfc3339}}">{{.Days}} 天之前</time>，内容可能已经不准确，请谨慎对待！</p>
            {{end}}
          {{end}}
        {{end}}

        <p>本文采用<a{{if .Post.License.Rel}} rel="{{.Post.License.Rel}}"{{end}}{{if .Post.License.Title}} title="{{.Post.License.Title}}"{{end}} href="{{.Post.License.URL}}">{{.Post.License.Text}}</a>创作共享协议。转载请注明出处：<a href="{{.Canonical}}">{{.Canonical}}</a></p>

        {{template "share" .}}
    </footer>
</article>

{{template "footer" .}}
{{- end}}
