@charset "utf-8";

/******************** vars */

:root {
    /* 页面宽度 */
    --max-width: 70rem;

    /* 定义手机的宽度 */
    --phone-width: 600px;
}

/*********************** reset */

body {
    margin: 0 auto;
    background: var(--background);
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, Helvetica, sans-serif;
}

a {
    text-decoration:none;
    color: var(--link-foreground);
}

a:hover {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

/* 调整图标，使其上下居中 */
.fa {
    margin-top: .1rem;
}

:-ms-input-placeholder{ /* IE */
    color: var(--placeholder-foreground);
}

::-ms-input-placeholder{ /* Edge */
    color: var(--placeholder-foreground);
}

::-moz-placeholder{
    color: var(--placeholder-foreground);
}

::-webkit-input-placeholder {
    color: var(--placeholder-foreground);
}

::placeholder {
    color: var(--placeholder-foreground);
}

/*********** #header ************/
#header {
    box-shadow: 1px 1px var(--appbar-background);
    background: var(--appbar-background);
    color: var(--appbar-foreground);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1000;
    padding-top: .4rem;
}

#header a {
    color: var(--appbar-link-foreground);
}

#header nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
}

#header .item {
    font-size: 1.2rem;
    border-bottom:1px solid transparent;
    color: var(--appbar-foreground);
    padding: 1rem;
    text-decoration: none;
}

#header .item.title {
    padding-left: 0;
}

#header .item.search {
    flex-grow: 2;
}

#header .search input {
    outline: none;
    border: none;
    color: var(--appbar-foreground);
    background: var(--appbar-background);
    border-bottom: 1px solid var(--appbar-foreground);
    font-size: 1.2rem;
    float: right;
    width: 300px;
    -webkit-appearance: textfield; /* safari */
}

/* 600px 需要与 var(--phone-width) 的值相同，但是 media query 不能直接引用 css 变量。 */
@media (max-width: 600px) {
  .search input {
      width: 150px !important;
  }
}


/******************* #footer **************/
#footer {
    background: var(--appbar-background);
    color: var(--appbar-foreground);
    line-height: 2.3rem;
}

#footer a {
    color: var(--appbar-link-foreground);
}

#footer .container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
}

#footer p {
    margin: 0;
}

/************ #content *****************/

#content {
    word-break: break-all;
    color: var(--post-foreground);
}

#content .container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
}

#content>.container>.item {
    margin: 1rem 0;
}

#content .post .title a {
    margin-bottom: .2rem;
}

#content .post .meta {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5rem;
    color: var(--post-foreground-meta);
}

#content .post .meta .item {
    margin-right: .7rem;
}

#content .post .meta .item a[rel=tag] {
    margin-right: .5rem;
    color: var(--post-foreground-meta);
}

#content .posts .post {
    border-bottom: 1px solid var(--divider-foreground);
}

#content .tags {
    margin-bottom: 1rem;
}

#content .tags .item {
    margin-right: 1rem;
}

.pages-nav .next {
    float: right;
}

/************ #sidebar-nav ************/


/* 70rem 需要与 var(--max-width) 的值相同，但是 media query 不能直接引用 css 变量。 */
@media (max-width: 70rem) {
    .fa {
        display: none !important;
    }
}

/* 70rem 需要与 var(--max-width) 的值相同，但是 media query 不能直接引用 css 变量。 */
@media (min-width: 70rem) {
    #sidebar-nav {
        position: fixed;
        padding: 5px;
        right: 1.5rem;
        bottom: 7rem;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--divider-foreground);
    }

    #sidebar-nav:hover {
        background: var(--divider-foreground);
    }

    .text {
        display: none;
    }
}



/**************** .post ***********/
/* 包含文章内的一些常用格式定义 */

#content .post section>p {
    text-indent: 2em;
}

.post table {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}

.post table th {
    font-weight: 500;
}

.post table th, .post table td {
    border: 1px solid var(--divider-foreground);
    padding: .2rem .5rem;
}
