@charset "utf-8";

/******************** vars */

:root {
    /* 页面宽度 */
    --max-width: 70rem;
}

/*********************** reset */

body {
    margin: 0 auto;
    background: var(--background);
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, Helvetica, sans-serif;
}

a {
    text-decoration:none;
    color: var(--link-foreground);
}

a:hover {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

/* 调整图标，使其上下居中 */
.fa {
    margin-top: .1rem;
}

:-ms-input-placeholder{
    color: var(--placeholder-foreground);
}

::-ms-input-placeholder{
    color: var(--placeholder-foreground);
}

::-moz-placeholder{
    color: var(--placeholder-foreground);
}

::-webkit-input-placeholder {
    color: var(--placeholder-foreground);
}

/*********** #header ************/
#header {
    box-shadow: 1px 1px var(--appbar-background);
    background: var(--appbar-background);
    color: var(--appbar-foreground);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1000;
    padding-top: .4rem;
}

#header nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
}

#header .item {
    font-size: 1.2rem;
    border-bottom:1px solid transparent;
    color: var(--appbar-foreground);
    padding: 1rem;
    text-decoration: none;
}

#header .item.title {
    padding-left: 0;
}

#header .item.search {
    flex-grow: 2;
}

#header .search input {
    outline: none;
    border: none;
    color: var(--appbar-foreground);
    background: var(--appbar-background);
    border-bottom: 1px solid var(--appbar-foreground);
    font-size: 1.2rem;
    float: right;
    width: 300px;
}

/******************* #footer **************/
#footer {
    background: var(--appbar-background);
    color: var(--appbar-foreground);
    line-height: 2.3rem;
}

#footer .container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
}

#footer p {
    margin: 0;
}

/************ #content *****************/

#content {
    margin-top: 2rem;
    word-break: break-all;
    color: var(--post-foreground);
}

#content .container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
}

#content>.container>.item {
    margin: 1rem 0;
}

#content .post .title a {
    font-size: 2rem;
    margin-bottom: .2rem;
}

#content .post .meta {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5rem;
    color: var(--post-foreground-meta);
}

#content .post .meta .item {
    margin-right: .7rem;
}

#content .post .meta .item a[rel=tag] {
    margin-right: .5rem;
    color: var(--post-foreground-meta);
}

#content .post section>p {
    text-indent: 2em;
}

#content .posts .post {
    border-bottom: 1px solid var(--divider-foreground);
}

#content .tags {
    margin-bottom: 1rem;
}

#content .tags .item {
    margin-right: 1rem;
}

.pages-nav .next {
    float: right;
}

/************ #top ************/
#top {
    position: fixed;
    right: 2rem;
    bottom: 7rem;
    color:var(--top-foreground);
}

#top:hover {
    text-decoration: none;
    color: var(--appbar-background);
}
